<h1>Help</h1>
<p>
  Get help at the Ruby on Rails tutorial
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>
  To get help from this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>
</p>
